
 <div class="container"> 
  <h3 class="mt-2 mb-5"><i class="fa-solid fa-crown"></i>月間出艇回数ランキング</h2>
    <table class="table text-center">
      <thead>
        <tr>
          <th>順位</th>
          <th>名前</th>
          <th>回数</th>
        </tr>
      </thead>
        <% @user_rank.each.with_index(1) do |user, index| %>
      <tbody>
        <tr>
          <td><%= index %>位</td>
          <td><%= user.name %></td>
          <td><%= user.departure.where(date: @this_month).count %>回</td>
        </tr>
      </tbody>
        <% end %>
    </table>
  </div>   

